@import url("//fonts.googleapis.com/css?family=Mukta+Vaani:300,400,600,700&amp;lang=en");

body {
	font-family: 'Mukta Vaani', Helvetica, Arial, sans-serif !important;
}

a.btn {
	border: 1px solid #CCC;
	color: #CCC;
}

.navbar {
	background-color: #34936B;
	z-index: 100;
}

.sidebar {
	background-color: #34936B;
	border-radius: 0 10px 10px 0;
	margin-top: 12px;
	padding: 10px 0;
	z-index: 99;
}

	.sidebar a, .sidebar button {
		font-size: 20px;
		padding: 0 70px 40px 0;
		line-height: 2.2em;
		border: none;
		cursor: pointer;
	}

	.sidebar button {
		background-color: Transparent;
		padding-bottom: 5px;
	}

	.sidebar a.disabled, .sidebar button[disabled] {
		pointer-events: none;
		color: lightgray;
		opacity: 0.8;
	}

	.sidebar .add-item {
		color: #32CD32;
	}

		.sidebar .add-item:hover {
			color: #2EBE2E;
		}

	.sidebar .edit-item {
		color: #FDFD96;
	}

		.sidebar .edit-item:hover {
			color: #FCFC2E;
		}

	.sidebar .delete-item {
		color: #DC143C;
	}

		.sidebar .delete-item:hover {
			color: #C80623;
		}

		.sidebar .delete-item:active {
			outline: none;
		}

.navbar-toggler {
	cursor: pointer;
}

.nav-logo {
	background: url("assets/json-logo.png") no-repeat 0% 40%;
}

.slide-form {
	position: absolute;
	top: 50px;
	right: 0;
	width: 80%;
	height: 100%;
	overflow: auto;
	background: #fff;
	padding: 20px;
	border-left: 1px solid #e0e0e0;
}

router-outlet {
	position: relative;
}
