<div class="sidebar col-md-2">
	<a routerLink="{{ currentPath }}/add"
	   (click)="updateButtonState()"
	   class="add-item"
	   [ngClass]="{ disabled : addIsDisabled }">
		<i class="fa fa-plus-circle"></i>
	</a>
	<a routerLink="{{ currentPath }}/edit/{{ itemId }}"
	   (click)="updateButtonState()"
	   class="edit-item" 
	   [ngClass]="{ disabled : isDisabled }">
		<i class="fa fa-pencil-square-o"></i>
	</a>
	<a routerLink="{{ currentPath }}/delete/{{ itemId }}" 
	   (click)="updateButtonState()"
	   class="delete-item" 
	   [ngClass]="{ disabled : isDisabled }">
		<i class="fa fa-times"></i>
	</a>
</div>