<div class="slide-form">
	<h2 class="col-2">{{ title }} Course</h2>
	<form>
		<div class="form-group">
			<label for="courseName" class="col-2 col-form-label">Course Name</label>
			<div class="col-2">
				<input class="form-control" type="text" id="courseName" placeholder="Enter course name" value="{{ course?.name | uppercase }}">
			</div>
		</div>
		<div class="form-group">
			<div class="col-2">
				<a class="btn btn-default" role="button" routerLink="/courses" (click)="cancelForm()">Back</a>
				<button class="btn btn-primary">Save</button>
			</div>
		</div>
	</form>
</div>